<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final Project</title>
	<link rel="stylesheet" href="../styles.css" />
</head>

<body>
	<h1>Main Page</h1>

	<a href="/routes/signUp">Sign Up</a>
	<a href="/routes/viewData">View Data</a>
</body>

</html>