<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final Project</title>
	<link rel="stylesheet" href="../styles.css" />
</head>

<body>
	<h1>Sign Up</h1>

  <a href="/">Home</a>
</body>

</html>